/*-- Kevin 1-500 --*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    color: #262626;
    font-size: 16px;
}
header{
    background-color:#F85F11;
    color: white;
    padding: 1.5em 0;
}
header section{
    width: 90%;
    margin: 0 auto;
    display:grid;
    gap:2em;
    grid-template: 1fr / 140px 1fr 32px;
    justify-items: center;
    align-items: center;
}
header section h1{
    display: none;
}
header section a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
}
header section a:hover {
    border-bottom: 3px solid white;
}
header section li {
    display: none;
}

/* Versión laptop */
@media (min-width: 1024px){
    /*Aquí inician los estilos para laptop*/
    header section li {
        list-style-type: none;
        display: inline-block;
        margin-right: 2em;
    }
    header section nav img{
        display: none;
    }
    /*Aquí terminan los estilos para laptop*/
}
















































































































































































































































































































































































































































































































/*-- Ruben 501-1000 --*/



















































































































































































































































































































































































































































































































/*-- Yaya 1001-1500 --*/



















































































































































































































































































































































































































































































































/*-- Sherilyn 1501-2000 --*/



















































































































































































































































































































































































































































































































/*-- Mercy 2001-2500 --*/



















































































































































































































































































































































































































































































































/*-- Brit 2501-3000 --*/



















































































































































































































































































































































































































































































































/*-- Adely 3001-3500 --*/



















































































































































































































































































































































































































































































































/*-- Enoc 3501-adelante --*/